html {
    height: 130%;
    font-family: 'Roboto Condensed', sans-serif;
}   

body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(rgb(36, 36, 36), black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.logo {
    color: #ffcc33;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.logo:hover {
    color: #ffd453;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 0px 7px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

nav a {
    text-decoration: none;
}


article {
    text-align: center;
    width: min(80vw, 2000px);
    margin: 0 auto;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1px;
}

article h1 {
    color: #ffcc33;
    text-transform: uppercase;
    margin: 2.5rem;
}

article p {
    color: white;
    max-width: 500px;
    text-align: center;
    margin: auto;
}

li:hover {
    cursor: pointer;
    color: #ffcc33;
}

@media (max-width: 720px) {
    nav {
        flex-direction: column;
    }
}

img {
    width: 100px;
    margin: 3rem;
}

img:hover {
    cursor: pointer;
}

#preview {
    opacity: 30%;
    margin-top: 150px;
}